.tag-block-rMWnq {
    display: flex;
    background-color: #f2f1f0;
    border-radius: 8px;
    padding: 6px 6px 6px 10px;
    gap: 3px;
    max-height: 27px;
}

.tag-title-ZdfY4 {
    display: inline-flex;
    margin-top: -1px;
}

.datepicker-range-container-jvb0_ {
    margin-bottom: -17px;
}

.styles-module-root_size_s-AyNJP {
  /* title */
  --module-datepicker-title-lineHeight: var(--theme-component-datepicker-size-s-title-lineHeight);
  --module-datepicker-title-month-fontSize: var(--theme-component-datepicker-size-s-title-monthFontSize);
  --module-datepicker-title-year-fontSize: var(--theme-component-datepicker-size-s-title-yearFontSize);
  --module-datepicker-title-year-color: var(--theme-component-datepicker-size-s-title-yearColor);
  --module-datepicker-padding-title: 6px 0 8px;
  /* day of week */
  --module-datepicker-dayOfWeek-width: var(--theme-component-datepicker-size-s-dayOfWeek-width);
  --module-datepicker-dayOfWeek-height: var(--theme-component-datepicker-size-s-dayOfWeek-height);
  --module-datepicker-dayOfWeek-fontSize: var(--theme-component-datepicker-size-s-dayOfWeek-fontSize);
  --module-datepicker-dayOfWeek-lineHeight: var(--theme-component-datepicker-size-s-dayOfWeek-lineHeight);
  /* day */
  --module-datepicker-day-width: var(--theme-component-datepicker-size-s-day-width);
  --module-datepicker-day-height: var(--theme-component-datepicker-size-s-day-height);
  --module-datepicker-day-fontSize: var(--theme-component-datepicker-size-s-day-fontSize);
  --module-datepicker-day-lineHeight: var(--theme-component-datepicker-size-s-day-lineHeight);
  --module-datepicker-outlineOffset: var(--theme-component-datepicker-size-s-day-outlineOffset);

  --module-datepicker-cellSize: 32px;
  --module-datepicker-iconSize: 16px;
  --module-datepicker-iconPositionHorizontal: 16px;
  --module-datepicker-iconPositionVertical: 6px;
  --module-datepicker-outlineBorderRadius: 9px;
}

.styles-module-root_size_m-DP1Bq {
  /* title */
  --module-datepicker-title-lineHeight: var(--theme-component-datepicker-size-m-title-lineHeight);
  --module-datepicker-title-month-fontSize: var(--theme-component-datepicker-size-m-title-monthFontSize);
  --module-datepicker-title-year-fontSize: var(--theme-component-datepicker-size-m-title-yearFontSize);
  --module-datepicker-title-year-color: var(--theme-component-datepicker-size-m-title-yearColor);
  --module-datepicker-padding-title: 8px 0 10px;
  /* day of week */
  --module-datepicker-dayOfWeek-width: var(--theme-component-datepicker-size-m-dayOfWeek-width);
  --module-datepicker-dayOfWeek-height: var(--theme-component-datepicker-size-m-dayOfWeek-height);
  --module-datepicker-dayOfWeek-fontSize: var(--theme-component-datepicker-size-m-dayOfWeek-fontSize);
  --module-datepicker-dayOfWeek-lineHeight: var(--theme-component-datepicker-size-m-dayOfWeek-lineHeight);
  /* day */
  --module-datepicker-day-width: var(--theme-component-datepicker-size-m-day-width);
  --module-datepicker-day-height: var(--theme-component-datepicker-size-m-day-height);
  --module-datepicker-day-fontSize: var(--theme-component-datepicker-size-m-day-fontSize);
  --module-datepicker-day-lineHeight: var(--theme-component-datepicker-size-m-day-lineHeight);
  --module-datepicker-outlineOffset: var(--theme-component-datepicker-size-m-day-outlineOffset);

  --module-datepicker-cellSize: 40px;
  --module-datepicker-iconSize: 20px;
  --module-datepicker-iconPositionHorizontal: 18px;
  --module-datepicker-iconPositionVertical: 8px;
  --module-datepicker-outlineBorderRadius: 9px;
}

.styles-module-root_size_l-xq3ZT {
  /* title */
  --module-datepicker-title-lineHeight: var(--theme-component-datepicker-size-l-title-lineHeight);
  --module-datepicker-title-month-fontSize: var(--theme-component-datepicker-size-l-title-monthFontSize);
  --module-datepicker-title-year-fontSize: var(--theme-component-datepicker-size-l-title-yearFontSize);
  --module-datepicker-title-year-color: var(--theme-component-datepicker-size-l-title-yearColor);
  --module-datepicker-padding-title: 10px 0 12px;
  /* day of week */
  --module-datepicker-dayOfWeek-width: var(--theme-component-datepicker-size-l-dayOfWeek-width);
  --module-datepicker-dayOfWeek-height: var(--theme-component-datepicker-size-l-dayOfWeek-height);
  --module-datepicker-dayOfWeek-fontSize: var(--theme-component-datepicker-size-l-dayOfWeek-fontSize);
  --module-datepicker-dayOfWeek-lineHeight: var(--theme-component-datepicker-size-l-dayOfWeek-lineHeight);
  /* day */
  --module-datepicker-day-width: var(--theme-component-datepicker-size-l-day-width);
  --module-datepicker-day-height: var(--theme-component-datepicker-size-l-day-height);
  --module-datepicker-day-fontSize: var(--theme-component-datepicker-size-l-day-fontSize);
  --module-datepicker-day-lineHeight: var(--theme-component-datepicker-size-l-day-lineHeight);
  --module-datepicker-outlineOffset: var(--theme-component-datepicker-size-l-day-outlineOffset);

  --module-datepicker-cellSize: 48px;
  --module-datepicker-iconSize: 28px;
  --module-datepicker-iconPositionHorizontal: 18px;
  --module-datepicker-iconPositionVertical: 8px;
  --module-datepicker-outlineBorderRadius: 9px;
}

.styles-module-root-Z_RLY {
  display: inline-block;
  position: relative;
  margin: 0 -15px;
}

.styles-module-calendar-B8cpl {
  display: inline-block;
  padding: 0 10px 10px;
}

.styles-module-controlButton-m465V {
  position: absolute;
  top: var(--module-datepicker-iconPositionVertical);

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.styles-module-controlButton_next-pjlgh {
  --module-datepicker-controlButton-rotate: 90deg;
  right: var(--module-datepicker-iconPositionHorizontal);
}

.styles-module-controlButton_prev-O_0RM {
  --module-datepicker-controlButton-rotate: -90deg;
  left: var(--module-datepicker-iconPositionHorizontal);
}

.styles-module-controlButton-m465V svg {
  rotate: var(--module-datepicker-controlButton-rotate);
  display: block;
  height: var(--module-datepicker-iconSize);
}

.styles-module-title-Q0Kxj {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: var(--module-datepicker-padding-title);
  line-height: var(--module-datepicker-title-lineHeight);
  font-weight: var(--theme-component-datepicker-titleWeight);
}

.styles-module-title_month-lkEPF {
  font-size: var(--module-datepicker-title-month-fontSize);
}

.styles-module-title_year-zfJ5A {
  font-size: var(--module-datepicker-title-year-fontSize);
  color: var(--module-datepicker-title-year-color);
}

.styles-module-table-KfY8x {
  border-spacing: 0;
}

.styles-module-dayOfWeek-EoHCf {
  width: var(--module-datepicker-dayOfWeek-width);
  height: var(--module-datepicker-dayOfWeek-height);
  padding-bottom: 2px;
  text-align: center;
  font-size: var(--module-datepicker-dayOfWeek-fontSize);
  line-height: var(--module-datepicker-dayOfWeek-lineHeight);
  color: var(--theme-component-datepicker-dayOfWeekColor-default);
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.styles-module-dayOfWeek_weekend-gdfXM {
  color: var(--theme-component-datepicker-dayOfWeekColor-weekend);
}

.styles-module-dayWrapper-Ci_vz {
  position: relative;
  width: var(--module-datepicker-day-width);
  height: var(--module-datepicker-day-height);
  margin-top: 2px;
}

.styles-module-day-fGy2O {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: var(--module-datepicker-day-fontSize);
  line-height: var(--module-datepicker-day-lineHeight);

  -webkit-user-select: none;

     -moz-user-select: none;

          user-select: none;
}

.styles-module-day_now-V0V87 {
  font-weight: bold;
  border-radius: var(--module-datepicker-outlineBorderRadius);
  outline: 1px solid var(--theme-component-datepicker-outlineColor);
  outline-offset: var(--module-datepicker-outlineOffset);
}

.styles-module-day_weekend-PUbLX {
  color: var(--theme-palette-gray54);
}

.styles-module-day_sibling-vxU8x {
  color: var(--theme-component-datepicker-disabledColor);
}

.styles-module-day_disabled-uRL73 {
  color: var(--theme-component-datepicker-disabledColor);
  cursor: default;
}

.styles-module-day_hoverable-mlDM6:hover {
  background-color: var(--theme-palette-warmGray4);
  border-radius: var(--theme-borderRadius-m);
  cursor: pointer;
}

.styles-module-day_nowHoverable-2N66Z:hover {
  outline: var(--theme-palette-warmGray4);
}

.styles-module-day_selected-dTH0T {
  color: var(--theme-component-datepicker-daySelectedColor);
  background-color: var(--theme-component-datepicker-daySelectedBgColor);
  border-radius: var(--theme-borderRadius-m);
}

.styles-module-day_selectedNow-JMGy4 {
  outline: none;
}

.styles-module-day_selectedWeekend-s8Y1U {
  color: var(--theme-component-datepicker-daySelectedColor);
}

/* selected single day */

.styles-module-day_singleSelected-psGwH {
  border-radius: var(--theme-borderRadius-m);
}

.styles-module-day_singleSelected-psGwH:hover {
  background-color: var(--theme-component-datepicker-daySelectedBgColor);
}

/* --- */

/* selecting range */
.styles-module-day_selecting-wOkcM {
  background-color: var(--theme-palette-warmGray4);
}

.styles-module-day_selectingStart-TNwle.styles-module-day_selectingEnd-IoroR:hover {
  color: var(--theme-component-datepicker-daySelectedColor);
  background-color: var(--theme-component-datepicker-daySelectedBgColor);
  outline: none;
}

.styles-module-day_selectingStart-TNwle,
.styles-module-day_selectingEnd-IoroR {
  position: absolute;
  color: var(--theme-component-datepicker-daySelectedColor);
  background-color: var(--theme-component-datepicker-daySelectedBgColor);
  border-radius: var(--theme-borderRadius-m);
  outline: none;
}

.styles-module-day_selectingStart-TNwle:hover,
.styles-module-day_selectingEnd-IoroR:hover {
  color: var(--theme-palette-black);
  background-color: transparent;
}

.styles-module-day_selectingStart-TNwle:hover.styles-module-day_disabled-uRL73:not(.styles-module-day_selectingEnd-IoroR),
.styles-module-day_selectingEnd-IoroR:hover.styles-module-day_disabled-uRL73:not(.styles-module-day_selectingStart-TNwle) {
  color: var(--theme-component-datepicker-disabledColor);
}

.styles-module-day_first-ZSsd6.styles-module-day_selectingWithinRange-a8inX {
  border-top-left-radius: var(--theme-borderRadius-m);
  border-bottom-left-radius: var(--theme-borderRadius-m);
}

.styles-module-day_last-X3ioq.styles-module-day_selectingWithinRange-a8inX {
  border-top-right-radius: var(--theme-borderRadius-m);
  border-bottom-right-radius: var(--theme-borderRadius-m);
}

.styles-module-day_selectingWithinRange-a8inX:hover {
  border-radius: 0;
}

.styles-module-day_selectingWithinRange-a8inX::after,
.styles-module-day_selectingWithinRange-a8inX::before {
  position: absolute;
  left: 0;

  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--theme-palette-white);
}

.styles-module-day_selectingWithinRange-a8inX::after {
  top: 0;
}

.styles-module-day_selectingWithinRange-a8inX::before {
  bottom: 0;
}

.styles-module-dayBackground_selectingStart-Vtzg9 {
  position: absolute;
  top: 1px;
  right: 0;
  background-color: var(--theme-palette-warmGray4);
  width: 100%;
  height: calc(100% - 2px);

  border-bottom-left-radius: var(--theme-borderRadius-m);
  border-top-left-radius: var(--theme-borderRadius-m);
}

.styles-module-dayBackground_selectingEnd-zd9o_ {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--theme-palette-warmGray4);
  width: 100%;
  height: calc(100% - 2px);

  border-bottom-right-radius: var(--theme-borderRadius-m);
  border-top-right-radius: var(--theme-borderRadius-m);
}

.styles-module-dayBackground_selectingStart-Vtzg9.styles-module-dayBackground_selectingEnd-zd9o_ {
  background-color: transparent;
}

/* --- */

/* selected range */
.styles-module-day_startSelected-Noiqc,
.styles-module-day_endSelected-aF5zS {
  position: absolute;
}

.styles-module-day_startSelected-Noiqc:hover,
.styles-module-day_endSelected-aF5zS:hover {
  background-color: var(--theme-component-datepicker-daySelectedBgColor);
}

.styles-module-day_selectedWithinRange-hoC0g {
  position: relative;
  background-color: var(--theme-palette-warmGray4);
  border-radius: 0;
  color: var(--theme-palette-black);
}

.styles-module-day_first-ZSsd6.styles-module-day_selectedWithinRange-hoC0g {
  border-top-left-radius: var(--theme-borderRadius-m);
  border-bottom-left-radius: var(--theme-borderRadius-m);
}

.styles-module-day_last-X3ioq.styles-module-day_selectedWithinRange-hoC0g {
  border-top-right-radius: var(--theme-borderRadius-m);
  border-bottom-right-radius: var(--theme-borderRadius-m);
}

.styles-module-day_selectedWithinRange-hoC0g:hover {
  border-radius: 0;
}

.styles-module-day_selectedWithinRange-hoC0g::after,
.styles-module-day_selectedWithinRange-hoC0g::before {
  position: absolute;
  left: 0;

  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--theme-palette-white);
}

.styles-module-day_selectedWithinRange-hoC0g::after {
  top: 0;
}

.styles-module-day_selectedWithinRange-hoC0g::before {
  bottom: 0;
}

.styles-module-dayBackground_startSelected-oydR7 {
  position: absolute;
  top: 1px;
  right: 0;
  background-color: var(--theme-palette-warmGray4);
  width: 50%;
  height: calc(100% - 2px);
}

.styles-module-dayBackground_endSelected-KHNhG {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--theme-palette-warmGray4);
  width: 50%;
  height: calc(100% - 2px);
}

.styles-module-dayBackground_startSelected-oydR7.styles-module-dayBackground_endSelected-KHNhG {
  background-color: transparent;
}

.option-disabled-option-h3y_d {
    color: #a3a3a3;
    background-color: white;
}

[data-highlighted='true'] .option-disabled-option-h3y_d {
    background-color: #f5f5f5;
}

.select-suggest-spinner-QQ5M3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.select-container-ggREK {
    display: flex;
}

.select-mainFilter-jIPnR,
.select-container-ggREK {
    width: 100%;
}

.select-mainFilter_withContent-SFRoE,
.select-content-vd7eL {
    width: 50%;
}

.select-content-vd7eL {
    margin-left: 6px;
}

.expand-list-root-bgG3X {
    margin-left: -10px;
    padding-left: 10px;
}

.expand-list-scroll-rgwn4 {
    overflow-y: auto;
    overflow-x: hidden;
}

.expand-list-expandButton-pGONx {
    padding-top: 12px;
}

.expand-list-expandButtonHide-oqpi0 {
    padding-top: 6px;
}

.checkbox-group-checkboxList-FZHKU {
    display: block;
    margin-bottom: -12px;
}

.checkbox-group-checkboxList-FZHKU > div {
    margin-bottom: 12px;
}

.checkbox-group-root-mZv8o + button {
    padding-left: 0;
}

.checkbox-group-checkboxContainer-bixvJ {
    display: flex;
}

.checkbox-group-expandButton-MsMbh {
    margin-top: 12px;
}

.checkbox-group-badge-qVZgm {
    margin-left: 4px;
}

.checkbox-group-additionalInfoPopup-ZLRFT,
.checkbox-group-content-XNQ0g {
    padding-top: 12px;
}

.color-circle-wrapper-hk5nI {
    position: relative;
}

.color-circle-circle-mOH9T {
    display: block;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    box-sizing: border-box;
}

.color-circle-whiteCircle_border-K5g0w {
    border: 1px solid #a3a3a3;
}

.color-circle-selected-PXE5v {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.multi-select-color-element-AhOL9 {
    cursor: pointer;
}

.multi-select-popup-columns-l6tvp {
    -moz-column-count: 3;
         column-count: 3;
    margin-top: 4px;
}

.multi-select-popup-filter-JNHro {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    margin-bottom: 24px;
}

.multi-select-popup-filter_withoutTitle-zoKo3 {
    margin-top: -12px;
}

.multi-select-popup-filter_bottomCompensation-dTOSk {
    margin-bottom: -24px;
}

.multi-select-popup-allOptionsButton-M66AS {
    margin-top: 12px;
}

.tag-list-root-vCa4B {
    position: relative;
}

.tag-list-tagWrapper-McnTI {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    overflow: hidden;
    margin-bottom: 26px;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.tag-list-tagWrapper_noMargin-HXQN3 {
    margin-bottom: 0;
    transition: margin-bottom .5s cubic-bezier(0, 1, 0, 1), max-height .5s cubic-bezier(0, 1, 0, 1);
}

.tag-list-tagWrapper-McnTI:empty {
    margin-bottom: 0;
}

.tag-list-moreButtonWrapper-z8KFe {
    position: absolute;
    bottom: -26px;
    margin-top: 6px;
}

.virtualized-list-viewPortElement-YiXRk {
    overflow-y: auto;
    overflow-x: hidden;
    /* для видимости outline checkbox */
    padding-left: 10px;
    margin-left: -10px;
}

.multi-select-search-checkboxContainer-e_9RQ {
    display: flex;
}

.multi-select-search-tagWrapper-hZk_I {
    overflow: hidden;
    margin: 2px 0 0 2px;
}

.multi-select-search-tagWrapper_withValues-IBk9r {
    margin-bottom: 18px;
}

.multi-select-search-checkboxWrapper-tFj04 {
    margin-top: 12px;
}

.multi-select-search-checkboxWrapper-tFj04.multi-select-search-checkboxWrapper_collapsed-puTtN:first-child {
    margin-top: 0;
}

.multi-select-search-checkboxWrapper-tFj04:first-child {
    margin-top: 8px;
}

.multi-select-search-checkboxWrapper-tFj04:last-child {
    margin-bottom: -3px;
}

.multi-select-search-inputWrapper-wBSbM {
    margin-bottom: 8px;
}

.multi-select-search-loading-dmbZI {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    height: 30px;
    align-items: center;
}

.multi-select-search-loading_empty-CzzJC {
    height: 270px;
    margin: 0;
}

.multi-select-search-checkboxWrapper_child-ufEg3 {
    margin-left: 26px;
}

.car-body-type-item-item-xUr7X {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 78px;
    text-align: center;
    margin-right: 40px;
}

.car-body-type-item-item-xUr7X p {
    word-break: normal;
}

.car-body-type-item-item-xUr7X:nth-child(3n) {
    margin-right: 0;
}

.car-body-type-item-item_readonly-zTONE {
    pointer-events: none;
}

.car-body-type-item-icon-CAsPy {
    display: block;
    width: 78px;
    height: 32px;
    margin-bottom: 4px;
    overflow: hidden;
}

.car-body-type-item-icon-CAsPy::before {
    content: '';
    display: block;
    height: 100%;
    background-image: url(/static/buyer/assets/../assets/fbd3403d8ea467ca.svg);
    background-repeat: no-repeat;
    background-position-x: -8px;
}

.car-body-type-item-sedan-LK8yM::before {
    background-position-y: -107px;
}

.car-body-type-item-hatchback-5-Dsp2q::before,
.car-body-type-item-hatchback-NTc5X::before {
    background-position-y: -5px;
}

.car-body-type-item-hatchback-3-EtGo_::before {
    background-position-y: -387px;
}

.car-body-type-item-liftback-AaXR7::before {
    background-position-y: -37px;
}

.car-body-type-item-station-wagon-y0RlS::before {
    background-position-y: -142px;
}

.car-body-type-item-suv-5-sFAQn::before,
.car-body-type-item-suv-HfLXx::before {
    background-position-y: -75px;
}

.car-body-type-item-suv-3-Z8Uy2::before {
    background-position-y: -425px;
}

.car-body-type-item-cabriolet-q9UbM::before {
    background-position-y: -173px;
}

.car-body-type-item-coupe-P7Ywu::before {
    background-position-y: -205px;
}

.car-body-type-item-minivan-jCyJb::before {
    background-position-y: -278px;
}

.car-body-type-item-pickup-fLsbl::before {
    background-position-y: -314px;
}

.car-body-type-item-van-X7Mvb::before {
    background-position-y: -241px;
}

.car-body-type-item-minibus-ewMdk::before {
    background-position-y: -352px;
    /* background-position-x: -2px; */
}

.car-body-type-item-item-xUr7X:hover .car-body-type-item-icon-CAsPy::before {
    background-position-x: -92px;
}

.car-body-type-item-item-xUr7X.car-body-type-item-item_selected-Iqxfo .car-body-type-item-icon-CAsPy::before {
    background-position-x: -176px;
}

.multi-select-carBody-list-Nw12b {
    display: flex;
    flex-flow: row wrap;
    font-weight: normal;
    list-style: none;
    margin: 0 -10px -10px;
    padding: 0;
    width: 320px;
}

.multi-select-carBody-item-Ian6L {
    margin-bottom: 17px;
    padding: 0 10px;
    width: 82px;
}

.multi-select-carBody-item-Ian6L p::first-letter {
    text-transform: uppercase;
}

.multi-select-carBody-moreButtonWrapper-NSn4z {
    margin-left: 10px;
}

.item-item-LQaId {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.multi-select-images-root-fCwai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
}

.multi-select-tags-wrapper-uyl79 label:last-child > span {
    padding: 0;
}

.multi-select-geo-filters-banner-WKSbS {
    background-color: #f2f1f0;
    border-radius: var(--theme-size-m-borderRadius);
    padding: var(--theme-gap-12);
    transition: background-color ease 200ms;
    cursor: pointer;
}

.multi-select-geo-filters-banner-WKSbS:hover {
    background-color: #ebeae8;
}

.MetroLinesIcon-module-metroLines-hRq8I {
    display: flex;
    margin-top: -2px;
}

.MetroLinesIcon-module-metroIcon-NsAK6 + .MetroLinesIcon-module-metroIcon-NsAK6 {
    margin-left: -3px;
}

.numeric-range-root-TrYVW {
    display: flex;
    gap: 6px;
}

.hierarchy-multiselect-child-NrmFI {
    margin-left: 26px;
}


.multiselect-image-item-fQFQc {
    cursor: pointer;
    margin-bottom: 10px;
}

.multiselect-image-item__photo-t0JfS {
    position: relative;
}

.multiselect-image-item__photo-t0JfS img {
    border-radius: 16px;
}

.multiselect-image-item__checkbox-XUzCk {
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.hierarchy-multiselect-images-wrapper-JW_Xl {
    display: flex;
    flex-direction: column;
    max-width: 842px;
    max-height: 550px;
    padding: 0 10px;
    overflow: hidden;
}

.hierarchy-multiselect-images-contentWrapper-JJgwV {
    max-height: 488px;
    overflow-y: auto;
    margin-right: -12px;
    padding-right: 12px;
}

.hierarchy-multiselect-images-textWrapper-Qj139 {
    display: inline-flex;
    gap: 4px;
    cursor: pointer;
    margin: 16px 0 12px 6px;
    width: 100%;
}

.hierarchy-multiselect-images-section-RAblZ:first-of-type .hierarchy-multiselect-images-textWrapper-Qj139 {
    margin-top: 0;
}

.hierarchy-multiselect-images-itemsWrapper-HRAVI {
    flex-wrap: wrap;
}

.hierarchy-multiselect-images-buttonsWrapper-M0AWh,
.hierarchy-multiselect-images-itemsWrapper-HRAVI {
    display: flex;
    gap: 6px;
}

.hierarchy-multiselect-images-buttonsWrapper-M0AWh {
    width: 100%;
    padding: 20px 0 2px 12px;
    overflow-y: hidden;
    min-height: 66px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.hierarchy-multiselect-images-errorWrapper-fMN88 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.hierarchy-multiselect-images-tagWrapper-yosVW {
    margin-left: 6px;
    margin-bottom: 14px;
}

.input-multiselect-expander-TUY0R {
    cursor: pointer;
    display: flex;
    margin-bottom: -4px;
}

.input-multiselect-tagsRoot-mrbFH {
    overflow: hidden;
    margin-bottom: 14px;
}

.input-multiselect-listItem-akdGt {
    padding-top: 12px;
}

.input-multiselect-firstItem-OW0Ma {
    margin-top: 6px;
}

.input-multiselect-tagsList-_LIFv {
    overflow: hidden;
    position: relative;
}

.input-multiselect-loading-TCci5 {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    height: 30px;
}

.styles-root-LnZBD {
    padding: 0;
    overflow: hidden scroll;
    margin-right: 4px;
    box-sizing: border-box;
}

.styles-root-LnZBD::-webkit-scrollbar {
    width: 5px;
}

.styles-root-LnZBD::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(10, 10, 10, .2);
}

.styles-adding-child-button-njBFb {
    width: 124px;
}

.styles-root-kWs5V {
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.styles-icon-GNeZB {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    height: 26px;
    width: 26px;
}

.styles-root-oNBZ6 {
    padding: 0 12px 0 16px;
    min-width: 275px;
    box-sizing: border-box;
}

.styles-header-container-z5_Gy {
    padding-left: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.rubricator-chips-elements-yMIMi {
    overflow: hidden;
}

.rubricator-chips-container-i30HT {
    display: flex;
}

.rubricator-chips-more-U_fBf {
    min-width: 56px;
    display: flex;
    align-items: end;
    margin-bottom: 18px;
}

.popup-content-LyMiY {
    padding-top: 10px;
}

.filter-item-resetButton-gnz3r {
    font-weight: normal;
    margin-left: 8px;
    display: flex;
    margin-bottom: -1px;
    white-space: nowrap;
}

.filter-item-icon-HXC35 {
    display: flex;
    align-self: flex-start;
}

.filter-item-labelNode-myIg_ {
    display: flex;
    align-items: baseline;
    width: -moz-fit-content;
    width: fit-content;
}

.filter-item-header-nzmbm {
    display: flex;
    gap: 8px;
}

.filter-item-badge-OwdVD {
    margin-left: 8px;
    font-weight: normal;
    display: flex;
}

.filter-item-hidden-lLMmg {
    visibility: hidden;
    height: 0;
    margin-top: var(--theme-component-form-fieldset-density-dense-margin);
}

.filter-item-hidden-lLMmg + .filter-item-hidden-lLMmg,
.filter-item-hidden-lLMmg:first-child,
.filter-item-hidden-lLMmg:last-child {
    margin-top: 0;
    display: none;
}

.filter-item-hidden-lLMmg > * { /* stylelint-disable-line selector-max-universal */
    display: none;
}

/* https://jr.avito.ru/browse/FA-6017 */
.filter-item-textBlockLabel-TiuGh {
    margin-top: -10px;
}

.form-mainFilters-y0xZT {
    padding-bottom: 14px;
}

.form-onMap-zw7x4 {
    padding: 0 30px;
}

.form-filtersSubscription__wrapper-c0HRO {
    position: static;
    padding-bottom: 14px;
}

.form-filtersSubscription__filtersWrapper-gXY07 {
    display: block;
}

.form-mainFilters-y0xZT + .form-filtersSubscription__wrapper-c0HRO {
    margin-top: 8px;
}

.styles-infm-debug-link-wrapper-OYiF4 {
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    transition: border-color .2s;
    min-height: 14px;
}

.styles-infm-debug-link-IsWT7 {
    position: absolute;
    right: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    font-size: .75rem;
    font-family: monospace;
    color: #0af;
    transition: opacity .2s;
}

.styles-infm-debug-link-IsWT7 img {
    height: .75rem;
    margin-right: 5px;
}

.styles-infm-debug-link-wrapper-OYiF4:hover {
    border: 1px solid #0af;
}

.styles-infm-debug-link-wrapper-OYiF4:hover>.styles-infm-debug-link-IsWT7 {
    opacity: 1;
}

.styles-infm-debug-version-ml9gX {
    font-size: 14px;
    font-family: monospace;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px
}

.styles-infm-debug-disable-GCNh1 {
    border: 0;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    line-height: 1;
}

.styles-infm-debug-disable-GCNh1 svg {
    vertical-align: bottom;
    cursor: pointer;
}

.styles-infm-debug-disable-GCNh1 svg:hover {
    fill: red;
}
.styles-root-G4hK0 {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.styles-content-BL7Xm {
    width: 0;
    height: 0;
    color: rgba(255, 255, 255, 0);
    font-size: 0;
}

